<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TTYD Bingo for Extreme Randomizer{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %} {% endblock %}
</body>
<footer>
    {% block footer %}
        2023 by DerMonarch. Inspired by FatGuy's TTYD Bingo.
        <a href="/changelog">Changelog</a>
        <a href="/manual" target="_blank">Explanation of the Spaces</a>
    {% endblock %}
</footer>
</html>