{% extends "base.html" %}
{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/fireworks-js@2.x/dist/index.umd.js"></script>
{% endblock %}
{% block body %}
    <div class="fireworks"></div>
    <div class="container" id="container">
      <h1>TTYD BINGO</h1>
      <div class="inputs">
        {% if seed != "" %}
        <form action="/" method="POST" class="inputs_cell">
          {{ form.hidden_tag() }}
          <input id="seed1" type="hidden" name="seed" value="{{ seed }}">
          <input id="submit1" type="submit" name="submit" value="Reload">
        </form>
        {% endif %}
        <form action="/" method="POST" class="inputs_cell">
          {{ form.hidden_tag() }}
          <input id="seed2" type="hidden" name="seed" value="">
          <input id="submit2" type="submit" name="submit" value="Random">
        </form>
      </div>
      <dialog id="popup">
        <div class="popuptext" id="victoryPopup">
          <h1>CONGRATULATIONS!</h1>
          <p>You got a bingo!</p>
          <a href="/"><button>New game</button></a>
          <button onclick="closeDialog()">Close</button>
        </div>
      </dialog>
      <!-- Bingo Grid -->
      <table>
        {% for row in range(5) %}
        <tr>
          {% for col in range(5) %} {% set item = bingo_grid_list[row * 5 + col]
          %}
          <td id="{{ row * 5 + col }}" title="{{ item[0] }}">
            <img src="static/images/{{ item[1] }}.png" alt="{{ item[0] }}" />
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>

          <!-- Arena Ch 3 Conditions -->
        <div style="width: 50%; margin: auto;">
          <h3>Battle Condition: <i id="completed_conditions">0</i> Completed</h3>
          <p id="condition"></p>
          <button onclick="newCondition()">New Condition</button>
          <button onclick="newConditionAndCount()">Successfully completed Condition</button>
        </div>

    </div>
   
    <link rel="stylesheet" href="static/css/bingo.css" />
    <script>

      // Randomly select a battle condition
      var conditions_completed = 0;
      var conditions = {{ battle_conditions|tojson }};
      const condition = document.getElementById("condition");
      const completed_conditions = document.getElementById("completed_conditions");
      
      function newCondition() {
        const randomIndex = Math.floor(Math.random() * conditions.length);
        condition.innerHTML = conditions[randomIndex];
      }

      function newConditionAndCount() {
        conditions_completed++;
        completed_conditions.innerHTML = conditions_completed;
        newCondition();
      }

      newCondition();

      const title = document.querySelector('h1');
      const container = document.querySelector('.fireworks')
      const fireworks = new Fireworks.default(container)
      // Array to keep track of selected cells
      let selectedCells = [];
      let gotBingo = false;

      // Function to check for bingo
      function checkForBingo() {
          // Check rows
          for (let row = 0; row < 5; row++) {
              let bingo = true;
              for (let col = 0; col < 5; col++) {
                  if (!selectedCells.includes(row * 5 + col)) {
                      bingo = false;
                      break;
                  }
              }
              if (bingo) {
                  toggleVictoryPopup();
                  return;
              }
          }

          // Check columns
          for (let col = 0; col < 5; col++) {
              let bingo = true;
              for (let row = 0; row < 5; row++) {
                  if (!selectedCells.includes(row * 5 + col)) {
                      bingo = false;
                      break;
                  }
              }
              if (bingo) {
                  toggleVictoryPopup();
                  return;
              }
          }

          // Check diagonals
          let diagonal1 = true;
          let diagonal2 = true;
          for (let i = 0; i < 5; i++) {
              if (!selectedCells.includes(i * 5 + i)) {
                  diagonal1 = false;
              }
              if (!selectedCells.includes(i * 5 + (4 - i))) {
                  diagonal2 = false;
              }
          }
          if (diagonal1 || diagonal2) {
              toggleVictoryPopup();
              return;
          }
      }

      // Grey out the image if it is clicked and cross out the alt text
      document.querySelectorAll('td').forEach(item => {
          item.addEventListener('click', event => {
              // Toggle the class of the image
              item.classList.toggle('selected');
              // Toggle the alt text if img element inside
              if (item.querySelector('img')) {
                  item.querySelector('img').style.textDecoration = item.querySelector('img').style.textDecoration === 'line-through' ? 'none' : 'line-through';
              }


              // Update the selectedCells array
              const cellId = parseInt(item.id);
              const index = selectedCells.indexOf(cellId);
              if (index === -1) {
                  selectedCells.push(cellId);
              } else {
                  selectedCells.splice(index, 1);
              }

              // Check for bingo after each click
              if (gotBingo) {
                  return;
              }
              checkForBingo();
          });
      });

      function toggleVictoryPopup() {
          gotBingo = true;
          fireworks.start();
          var popup = document.getElementById("popup");
          popup.style.alignContent = "center";
          popup.style.verticalAlign = "center";
          popup.style.paddingBottom = "5%";
          popup.showModal();
              setTimeout(() => {
              fireworks.stop();
          }, 10000);
      }
      function closeDialog() {
          var popup = document.getElementById("popup");
          popup.close();
          fireworks.stop();
      }


    </script>
{% endblock %}
