{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/fireworks-js@2.x/dist/index.umd.js"></script>
{% endblock %}
{% block body %}
    <div class="fireworks"></div>
    <div class="container" id="container">
      <div id="popup">
        <h1>TTYD BINGO</h1>
        <br>
        <div class="inputs">
          <form action="/" method="POST" class="inputs_cell">
            {{ form.hidden_tag() }}
            <input id="seed1" type="hidden" name="seed" value="{{ seed }}">
            <input id="submit1" type="submit" name="submit" value="Reload">
          </form>
          <form action="/" method="POST" class="inputs_cell">
            {{ form.hidden_tag() }}
            <input id="seed2" type="hidden" name="seed" value="">
            <input id="submit2" type="submit" name="submit" value="Random">
          </form>
        </div>
      </div>
      <!-- Bingo Grid -->
      <table>
        {% for row in range(5) %}
        <tr>
          {% for col in range(5) %} {% set item = bingo_grid_list[row * 5 + col]
          %}
          <td id="{{ row * 5 + col }}" title="{{ item[0] }}">
            <img src="static/images/{{ item[1] }}.png" alt="{{ item[0] }}" />
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
    <link rel="stylesheet" href="static/css/bingo.css" />
    <script src="static/js/bingo.js"></script>
  {% endblock %}