<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Changelog{% endblock %}
{% block head %}
<link rel="stylesheet" href="static/css/changelog.css" />
{% endblock %}
{% block body %}
    <div class="container">
      <a href="/"><button>Play Bingo</button></a>
      <div class="card">
        <span class="title">Version b0.2</span>
        <ul>
          <li>Added a manual page for an explanation of what each field does.</li>
          <li>Added "Return Postage."</li>
          <li>The Reload button now appears only when a seed has been entered.</li>
        </ul>
      </div>
      <div class="card">
        <span class="title">Version b0.1</span>
        <ul>
          <li>Added new locations</li>
          <li>Added new badges to aquire</li>
          <li>Updated more images</li>
          <li>The Popup is now an actual Popup</li>
        </ul>
      </div>
      <div class="card">
        <span class="title">Version a0.4</span>
        <ul>
          <li>Added Seeds</li>
          <li>Added Buttons to reload and randomize</li>
          <li>Updated more images</li>
          <li>Added "Use Chet Rippo"</li>
        </ul>
      </div>
      <div class="card">
        <span class="title">Version a0.3</span>
        <ul>
          <li>Changed most pictures</li>
          <li>Removed "10x Lucky"</li>
          <li>Moved the "Crystal Star" Achievment into 2 Groups</li>
          <li>Fireworks now stop after 10 seconds</li>
          <li>Fixed font-family for titles</li>
          <li>Renamed some on hover descriptions</li>
        </ul>
      </div>
      <div class="card">
        <span class="title">Version a0.2</span>
        <ul>
          <li>Implemented a changelog feature</li>
          <li>Added a popup notification for bingos</li>
          <li>Included a fireworks animation to celebrate bingos</li>
          <li>Introduced a footer section</li>
          <li>Added a title</li>
          <li>
            Removed "Acquire Strange Sack" since it is granted at the beginning
            of the game
          </li>
          <li>
            Consolidated "Level 2 Stage" and "Level 3 Stage" into "Reach Level
            10"
          </li>
          <li>Added a new goal: "Use the Fortune Teller"</li>
        </ul>
      </div>
      <div class="card">
        <span class="title">Version a0.1</span>
        <ul>
          <li>Initial release</li>
        </ul>
      </div>
    </div>
{% endblock %}
