<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/index.css" />
    <title>Changelog</title>
  </head>
  <body>
    <div class="container">
      <a href="/"><button>Back</button></a>
      <div class="card">
        <h1>Version a0.2</h1>
        <ul>
          <li>Implemented a changelog feature</li>
          <li>Added a popup notification for bingos</li>
          <li>Included a fireworks animation to celebrate bingos</li>
          <li>Introduced a footer section</li>
          <li>Added a title</li>
          <li>
            Removed "Acquire Strange Sack" since it is granted at the beginning
            of the game
          </li>
          <li>
            Consolidated "Level 2 Stage" and "Level 3 Stage" into "Reach Level
            10"
          </li>
          <li>Added a new goal: "Use the Fortune Teller"</li>
        </ul>
      </div>
      <div class="card">
        <h1>Version a0.1</h1>
        <ul>
          <li>Initial release</li>
        </ul>
      </div>
    </div>
    <link rel="stylesheet" href="static/css/changelog.css" />
  </body>
  <footer>2023 by DerMonarch. Inspired by FatGuy's TTYD Bingo.</footer>
</html>
